  <form id="login" method="POST" action="/login">
        <input id="username" type="text" name="username" value="enter username here"></input>
        <button type="submit" form="login">Sign in</button></form>
            <% if(email){ %>
        <h5>Logged in as: <%=email%> </h5>
        <form id="logout" method="POST" action="/logout"><button type="submit" form="logout">Log out</button></form>
              <% } else{ %>  
                <h5>browsing as guest</h5>
     <% } %>



     <% if(!id){ %>
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/register">Register</a>
    <% } else { %>  
      <a class="nav-item nav-link" href="/logout">Logout</a>
   <% } %>